.vertical-menu {
    width: 200px;
    opacity: 0.6;
}

.vertical-menu a {
    background-color: #fff;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
    
}

.vertical-menu a.active {

}
.footer{
    text-align: center;
    margin-top: 200px; 
    color:white
}
h1{
    
    color: #fff;
}
label{
    
    color: #fff;
}