.hola{
   background:url("../img/prohibido.jpg");
   height: 662px;
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100% 100%;
}
.contenido{
    width: 400px;
    height: 100px;
    color: white;
    margin-left: 480px;
    margin-top: -450px;
    background-color: black;
    text-align: center;
    opacity: 0.8;
    border-radius: 10px;
}